<h1>Product Components</h1>



  <table border="2">
   
        
    <thead>
        <th>ID</th>
        <th>Type</th>
        <th>Name</th>
        <th>Price</th>
    </thead>
    
    <tbody>
        <tr>
            <td>10011</td>
                <td>Phone</td>
                <td><img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcSfkeS_ztB8DPh1iv50eIdMoaa87S9Kn653bBpES5L5GMu8R3P86tF0xK9FIP4YxwQFKEhqNwVjMslnnL8gzCZhfHKZOLwWyOiEIPEVH1SJF3EybrVCze5m7g&usqp=CAc"></td>
                <td>500</td>
        </tr>
    
    <tr>
        <td>10011</td>
                <td>Laptop</td>
                <td><img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcSyhIOgTlnTSCxghMQTD3eEJwYinCWXZcoolSCaxBD0sdWAfM1JuN9KF9WlykJXc5DJDwLkAZ65jlQD4vzzus01qtr7MwSXIbqMN1DQKXYjky3k3lszr4eqj291Zoxy0vBlfQ&usqp=CAc"></td>
                <td>500</td>
    </tr>
    </tbody>
    
    </table>

  
    

    

